pydantic==2.11.7
pydantic_core==2.33.2
fastapi==0.116.1
SQLAlchemy==2.0.43
uvicorn==0.35.0
dependency-injector==4.48.1
easydict==1.13
alembic==1.16.5
asyncpg==0.30.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10
email-validator==2.3.0
pyjwt==2.10.1
bcrypt==3.2.2
passlib==1.7.4
requests==2.32.5