.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.gap-0 {
  gap: prem(0) !important;
}
.gap-1 {
  gap: prem(4) !important;
}
.gap-2 {
  gap: prem(8) !important;
}
.gap-3 {
  gap: prem(16) !important;
}
.gap-4 {
  gap: prem(32) !important;
}
.gap-5 {
  gap: prem(64) !important;
}
.width-100 {
  width: 100% !important;
}
.min-width-fit-content {
  min-width: fit-content !important;
}