[components-mode="light"] {
  --ds-color-red-100: #ffedeb;
  --ds-color-red-200: #ffd2cc;
  --ds-color-red-300: #ff9c8f;
  --ds-color-red-400: #f87462;
  --ds-color-red-500: #ef5c48;
  --ds-color-red-600: #e34935;
  --ds-color-red-700: #ca3521;
  --ds-color-red-800: #ae2a19;
  --ds-color-red-900: #601e16;
  --ds-color-red-1000: #391813;
  --ds-color-green-100: #dffcf0;
  --ds-color-green-200: #baf3db;
  --ds-color-green-300: #7ee2b8;
  --ds-color-green-400: #4bce97;
  --ds-color-green-500: #2abb7f;
  --ds-color-green-600: #22a06b;
  --ds-color-green-700: #1f845a;
  --ds-color-green-800: #216e4e;
  --ds-color-green-900: #164b35;
  --ds-color-green-1000: #133527;
  --ds-color-yellow-100: #fff7d6;
  --ds-color-yellow-200: #f8e6a0;
  --ds-color-yellow-300: #f5cd47;
  --ds-color-yellow-400: #e2b203;
  --ds-color-yellow-500: #cf9f02;
  --ds-color-yellow-600: #b38600;
  --ds-color-yellow-700: #946f00;
  --ds-color-yellow-800: #7f5f01;
  --ds-color-yellow-900: #533f04;
  --ds-color-yellow-1000: #3d2e00;
  --ds-color-blue-100: #e9f2ff;
  --ds-color-blue-200: #cce0ff;
  --ds-color-blue-300: #85b8ff;
  --ds-color-blue-400: #579dff;
  --ds-color-blue-500: #388bff;
  --ds-color-blue-600: #1d7afc;
  --ds-color-blue-700: #0c66e4;
  --ds-color-blue-800: #0055cc;
  --ds-color-blue-900: #09326c;
  --ds-color-blue-1000: #082145;
  --ds-color-orange-100: #fff4e5;
  --ds-color-orange-200: #ffe2bd;
  --ds-color-orange-300: #fec57b;
  --ds-color-orange-400: #faa53d;
  --ds-color-orange-500: #f18d13;
  --ds-color-orange-600: #d97008;
  --ds-color-orange-700: #b65c02;
  --ds-color-orange-800: #974f0c;
  --ds-color-orange-900: #5f3811;
  --ds-color-orange-1000: #43290f;
  --ds-color-cyan-100: #e3fafc;
  --ds-color-cyan-200: #c1f0f5;
  --ds-color-cyan-300: #8bdbe5;
  --ds-color-cyan-400: #60c6d2;
  --ds-color-cyan-500: #37b4c3;
  --ds-color-cyan-600: #1d9aaa;
  --ds-color-cyan-700: #1d7f8c;
  --ds-color-cyan-800: #206b74;
  --ds-color-cyan-900: #1d474c;
  --ds-color-cyan-1000: #153337;
  --ds-color-purple-100: #f3f0ff;
  --ds-color-purple-200: #dfd8fd;
  --ds-color-purple-300: #b8acf6;
  --ds-color-purple-400: #9f8fef;
  --ds-color-purple-500: #8f7ee7;
  --ds-color-purple-600: #8270db;
  --ds-color-purple-700: #6e5dc6;
  --ds-color-purple-800: #5e4db2;
  --ds-color-purple-900: #352c63;
  --ds-color-purple-1000: #231c3f;
  --ds-color-magenta-100: #ffecf8;
  --ds-color-magenta-200: #fdd0ec;
  --ds-color-magenta-300: #f797d2;
  --ds-color-magenta-400: #e774bb;
  --ds-color-magenta-500: #da62ac;
  --ds-color-magenta-600: #cd519d;
  --ds-color-magenta-700: #ae4787;
  --ds-color-magenta-800: #943d73;
  --ds-color-magenta-900: #50253f;
  --ds-color-magenta-1000: #341829;
}

[components-mode="dark"] {
  --ds-color-red-100: #391813;
  --ds-color-red-200: #601e16;
  --ds-color-red-300: #ae2a19;
  --ds-color-red-400: #ca3521;
  --ds-color-red-500: #e34935;
  --ds-color-red-600: #ef5c48;
  --ds-color-red-700: #f87462;
  --ds-color-red-800: #ff9c8f;
  --ds-color-red-900: #ffd2cc;
  --ds-color-red-1000: #ffedeb;
  --ds-color-green-100: #133527;
  --ds-color-green-200: #164b35;
  --ds-color-green-300: #216e4e;
  --ds-color-green-400: #1f845a;
  --ds-color-green-500: #22a06b;
  --ds-color-green-600: #2abb7f;
  --ds-color-green-700: #4bce97;
  --ds-color-green-800: #7ee2b8;
  --ds-color-green-900: #baf3db;
  --ds-color-green-1000: #dffcf0;
  --ds-color-yellow-100: #3d2e00;
  --ds-color-yellow-200: #533f04;
  --ds-color-yellow-300: #7f5f01;
  --ds-color-yellow-400: #946f00;
  --ds-color-yellow-500: #b38600;
  --ds-color-yellow-600: #cf9f02;
  --ds-color-yellow-700: #e2b203;
  --ds-color-yellow-800: #f5cd47;
  --ds-color-yellow-900: #f8e6a0;
  --ds-color-yellow-1000: #fff7d6;
  --ds-color-blue-100: #082145;
  --ds-color-blue-200: #09326c;
  --ds-color-blue-300: #0055cc;
  --ds-color-blue-400: #0c66e4;
  --ds-color-blue-500: #1d7afc;
  --ds-color-blue-600: #388bff;
  --ds-color-blue-700: #579dff;
  --ds-color-blue-800: #85b8ff;
  --ds-color-blue-900: #cce0ff;
  --ds-color-blue-1000: #e9f2ff;
  --ds-color-orange-100: #43290f;
  --ds-color-orange-200: #5f3811;
  --ds-color-orange-300: #974f0c;
  --ds-color-orange-400: #b65c02;
  --ds-color-orange-500: #d97008;
  --ds-color-orange-600: #f18d13;
  --ds-color-orange-700: #faa53d;
  --ds-color-orange-800: #fec57b;
  --ds-color-orange-900: #ffe2bd;
  --ds-color-orange-1000: #fff4e5;
  --ds-color-cyan-100: #153337;
  --ds-color-cyan-200: #1d474c;
  --ds-color-cyan-300: #206b74;
  --ds-color-cyan-400: #1d7f8c;
  --ds-color-cyan-500: #1d9aaa;
  --ds-color-cyan-600: #37b4c3;
  --ds-color-cyan-700: #60c6d2;
  --ds-color-cyan-800: #8bdbe5;
  --ds-color-cyan-900: #c1f0f5;
  --ds-color-cyan-1000: #e3fafc;
  --ds-color-purple-100: #231c3f;
  --ds-color-purple-200: #352c63;
  --ds-color-purple-300: #5e4db2;
  --ds-color-purple-400: #6e5dc6;
  --ds-color-purple-500: #8270db;
  --ds-color-purple-600: #8f7ee7;
  --ds-color-purple-700: #9f8fef;
  --ds-color-purple-800: #b8acf6;
  --ds-color-purple-900: #dfd8fd;
  --ds-color-purple-1000: #f3f0ff;
  --ds-color-magenta-100: #341829;
  --ds-color-magenta-200: #50253f;
  --ds-color-magenta-300: #943d73;
  --ds-color-magenta-400: #ae4787;
  --ds-color-magenta-500: #cd519d;
  --ds-color-magenta-600: #da62ac;
  --ds-color-magenta-700: #e774bb;
  --ds-color-magenta-800: #f797d2;
  --ds-color-magenta-900: #fdd0ec;
  --ds-color-magenta-1000: #ffecf8;
}
